target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.idea/
*.iml
validation_params*.csv
*.swp
*-actual.json
*-expected.json
results/
*.DS_Store
sf1/
sf1.zip
tcr.log
*.priv
*.priv.*
umbra/.dev.env
